# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/
*.egg

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# VS Code settings (workspace)
.vscode/

# macOS
.DS_Store

# dotenv
.env
